/* ================= GLOBAL ================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background: #e9e7e7;
}

body {
    border-radius: 10px;
    color: #0f172a;
    padding-top: 8px;
    min-height: 100vh;
}